---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import EventsPreview from '../components/EventsPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const events = (await getCollection('events')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Latest Events | Sibagat Fundamental Baptist Church"
	description="Learn about SibagatFBC's most recent events"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Latest Events"
				tagline="See our most recent Events for Glorifying our God."
				align="start"
			/>
			<Grid variant="offset">
				{
					events.map((events) => (
						<li>
							<EventsPreview events={events} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
