---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PostsPreview from '../components/PostsPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="Latest Posts | Sibagat Fundamental Baptist Church"
	description="Learn about SibagatFBC's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Latest Posts"
				tagline="See our most recent posts below to find some of our latest Works, Devotion, Sermons and Word of God from the Bible."
				align="start"
			/>
			<Grid variant="offset">
				{
					posts.map((posts) => (
						<li>
							<PostsPreview posts={posts} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
